a,
body,
div,
h1,
html,
img,
p,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
}
@font-face {
  font-family: CeraPro;
  src: url("./assets/fonts/CeraProMedium.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
body {
  color: #fff;
  line-height: 1.8;
  height: 100%;
  font-family: CeraPro, Futura, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
section {
  display: block;
}
